/*  FUENTE  */
@font-face{
	font-family: "fajala";
	src:url(../fonts/fuente.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;

}

*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif, Helvetica, Arial;
	text-decoration: none
}

.clearfix{
	clear:both;
	float: none;
}
body {
	font-family: "fajala";
	background: url(../img/cubes.png) #F4F4F4;
}

/* CABECERA*/
#cabecera {
	width: 90%;
	height: auto;
	background: transparent;
	margin: 0px auto;
	/*border: 1px solid black;*/
}

/*  LOGOTIPO*/
#logo{
	float: left;
	width: 540px;
	height: 100px;
}

#logo a{
	font-family: "fajala" , helvetica;
	font-size: 40px;
	letter-spacing: 2px;
	color: #2979DC;
	text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
	transition: all 500ms;
	line-height: 95px;
	margin-left: 15px;
}

#logo a:hover{
	cursor: pointer;
	text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}

/*  MENU  */
#menu{
	clear: both;
	width: 100%;
	height: 45px;
	background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
	border: 1px solid #C9C9C9;
	border-radius: 10px;
	box-shadow: 0px 1px 1px #ccc;
	overflow: hidden;
}
#menu ul {
	list-style: none;
}
#menu ul li{
	float: left;
	line-height: 45px;
	border-right: 1px solid #D6D6D6;
}

#menu ul li a{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	color: #585656;
}

#menu ul li a:hover{
	background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
}


/*  Contenido  */
#contenedor {
	width: 90%;
	height: auto;
	min-height: auto;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*		Barra Lateral 		*/
#siderbar {
	float: right;
	width: 26%;
	height: auto;

}

.bloque{
	display: block;
	width: 90%;
	border-radius: 10px;	
	margin:  0px auto;
	margin-bottom: 35px;
	background: white;
	padding: 10px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset;
}

.bloque h3{
	margin-bottom: 15px;
}

label,
input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    margin-top:2px;
    margin-bottom: 2px;
}


input[type="text"],
input[type="email"],
input[type="password"]{
	padding: 5px;
	margin-bottom: 15px;
}



input[type="button"],
input[type="submit"]{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 7px;
	color: white;
	background: #007EE5;
	border: 1px solid #156785;
	cursor: pointer;
	text-align: center;
	/*width: 75px;*/
}





#principal {
	float: left;
	width: 70%;
	min-height: 566px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #CCC;
	margin-left: 5px;
	padding: 20px;
	overflow: hidden;
	/*margin-top: 10px;*/
}

#principal a{
	color: #333;
}

#principal h1{
	font-size: 34px;
	color: #444;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px #CCC;
	font-family: "fajala";
	/*margin-top: 30px;*/
}

#principal h2{
	font-size: 24px;
	color: #2979DC;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px #CCC;
	font-family: "fajala";
	margin-top: 25px;
}

#principal p{
	margin-top: 10px;
}

#ver-todas a{
	display: block;
	border-radius: 5px;
	padding: 15px;
	color: white;
	background: #007EE5;
	border: 1px solid #156785;
	cursor: pointer;
	width: 170px;
	margin: 0px auto;
	margin-top: 138px;
	text-align: center;
}


/* 		PIE DE PAGINA 		*/
#pie{
	clear: both;
	width: 87%;
	margin: 0px auto;
	background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
	border: 1px solid #C9C9C9;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	color: #666;
	height: auto;
	padding: 15px;
	text-align: center;
}